* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', 'Lato', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #1E1A19;
}

a {
    text-decoration: none;
}

.nav-link:hover,
.subnav-item>a:hover {
    color: #F55153;
}

.entire-body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.sidebar-nav-style {
    background-color: #F5E3DE;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    color: #1E1A19;
    min-height: 100vh;
}


.my-h1 {
    font-size: 2.75vw;
    font-weight: 800;
    color: #F55153;
}

.subnav {
    display: flex;
    flex-direction: column;

}

.subnav-item {
    padding: 0.75em;
    padding-left: 1.5em;
    background-color: #F5E3DE;
}


.nav-link,
.subnav-item>a {
    color: #1E1A19;
}

.content {
    background-color: #1E1A19;
    color: #F55153;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2em;
    padding-top: 2em;
    padding-right: 2em;
    min-height: 100vh;
}

.page-link {
    background-color: #1E1A19;
    border-color: #F55153;
    color: #F55153;
}

.page-link:hover {
    background-color: #F55153;
    color: #F5E3DE;


}

.page-item:hover {
    color: #F5E3DE;
    background-color: #F55153;
    border-color: #F55153;
}

.page-item.active .page-link {
    z-index: 3;
    color: #f5e4de;
    background-color: #f55153;
    border-color: #f55153;
}

.card-style {
    border-radius: 1.2em;
    background-color: #F5E3DE;
}

.welcome-card-title {
    font-weight: 800;
    font-size: 8.8vw;

}

.card-fact {
    color: #1E1A19;
    background-color: #F5E3DE;
}

.card-text-style {
    padding-left: 0.4em;
}

/* Book Styles */

.book-list-item {
    margin-top: 2em;
    padding: 0 2em;

}

.book-list {
    margin-bottom: 2em;
    color: #1E1A19 ;
}

.book-list-style {
    padding: 5%;
    height: 100%;
    background-color: #F5E3DE;
    border-radius: 1.2em;

}

.book-title {
    font-size: 30px;
    color: #F55153;
}

.card-round-borders {
    border-radius: 1.2em;
}

.more-btn {
    color: #F5E3DE;
    background-color: #F55153;
    border-color: #F55153;
}

.more-btn:hover {
    background-color: #1E1A19;
    border-color: #1E1A19;
    color: #F5E3DE;
}

.add-btn {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 2em;
    color: #F5E3DE;
    background-color: #F55153;
    border-color: #F55153;
}

.add-btn:hover {
    background-color: #F5E3DE;
    border-color: #F5E3DE;
    color: #1E1A19; 
}

/* Details styles */

.update-btn {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 2em;
    color: #F5E3DE;
    background-color: #F55153;
    border-color: #F55153;
  
}

.update-btn:hover {
    background-color: #1E1A19;
    border-color: #1E1A19;
    color: #F5E3DE; 
}

.copies {
    margin-top: 2em;
}

/* Forms */
.submit-btn {
    color: #F5E3DE;
    background-color: #F55153;
    border-color: #F55153;
}

.submit-btn:hover {
    background-color: #F5E3DE;
    border-color: #F5E3DE;
    color: #1E1A19; 
}

.centre-form {
    width: 50vw;
    padding-bottom: 30rem;
}

.modal-style {
    background-color: #F5E3DE;
    color: #F55153;
}