{% extends "catalog/base_generic.html" %}
{% block content %}
  <div class="card rounded-5 card-style">
    <div class="card-body rounded-3">
      <h1 class="card-title welcome-card-title">{{ author.get_full_name }}</h1>
      <p class="card-text card-text-style"></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item card-fact">
          {% for country in author.nationality %}<i class="flag {{ country.flag_css }}"></i> {{ country.name }}{% endfor %}
        </li>
        <li class="list-group-item card-fact">
          {{ author.date_of_birth }} -
          {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}
        </li>
        <li class="list-group-item card-fact">
          <strong>Language:</strong> {{ book.language }}
        </li>
        <li class="list-group-item card-fact">
          <strong>Genre:</strong> {{ book.genre.all|join:', ' }}
        </li>
        <li class="list-group-item card-fact">
          {% if user.is_staff %}
            <a class="btn update-btn" href="{% url 'author-update' author.id %}">Update</a>
            <a class="btn update-btn"
               data-bs-toggle="modal"
               data-bs-target="#confirmDelete">Delete</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class="copies">
    <h1>Books</h1>
    {% if author.book_set.all %}
      <div class="row row-cols-1 row-cols-lg-2 g-4 book-list ">
        {% for book in author.book_set.all %}
          <div class="col">
            <div class="card book-list-style card-round-borders">
              <div class="card-body">
                <h3 class="card-title book-title md-0">{{ book.title }}</h3>
                <h6 class="card-text text-muted">{{ book.bookinstance_set.count }} copies in total.</h6>
                <p class="card-text">{{ book.summary|slice:"150" }} ...</p>
                <a href="{{ book.get_absolute_url }}" class="btn  more-btn">View More</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h2>There are no books by this author in the library.</h2>
    {% endif %}
  </div>
  <!-- Confirm Delete Modal -->
  <div class="modal fade"
       id="confirmDelete"
       tabindex="-1"
       aria-labelledby="confirmDeleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-style">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ author.get_full_name }}?</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Do you wish to permanently delete author's information?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'author-delete' pk=author.pk %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn more-btn">Delete Author</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
