{% extends "catalog/base_generic.html" %}
{% block title %}
  <title>Add author</title>
{% endblock title %}
{% block content %}
  {% load bootstrap5 %}
  <div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x centre-form">
      <h1>Update author information</h1>
      <form action='' method='post'>
        {% csrf_token %}
        <div >{% bootstrap_form form %}</div>
        <input class="btn submit-btn" type='submit' value='Submit' />
      </form>
    </div>
  </div>
{% endblock content %}
