{% extends "catalog/base_generic.html" %}
{% block title %}
  <title>All Authors</title>
{% endblock title %}
{% block content %}
  <h1>Author list</h1>
  {% if user.is_staff %}
    <a href="{% url 'author-create' %}" class="btn add-btn">Add author</a>
  {% endif %}
  {% if author_list %}
    <div class="row row-cols-1 row-cols-lg-2 g-4 book-list ">
      {% for author in author_list %}
        <div class="col">
          <div class="card book-list-style card-round-borders">
            <div class="card-body">
              <h3 class="card-title book-title md-0">{{ author.get_full_name }}</h3>
              <h6 class="card-text text-muted">
                {{ author.date_of_birth }} -
                {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}
              </h6>
              <p class="card-text"></p>
              <a href="{{ author.get_absolute_url }}" class="btn more-btn">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There is no auther available yet in this library.</p>
  {% endif %}
{% endblock content %}
