{% extends 'catalog/base_generic.html' %}

{% block content %}
    <h1>Author list</h1>
    {% for author in author_list %}
        <ul>
            <li>
                <a href="{{ author.get_absolute_url }}">{{ author.get_full_name}}</a>
                ({{author.date_of_birth}} -
                    {% if author.date_of_death%}
                        {{author.date_of_death}}
                    {% endif %})
            </li>
        </ul>
    {% empty %}
        <p>There is no auther available yet in this library.</p>
    {% endfor %}
{% endblock content %}