{% extends "catalog/base_generic.html" %}
{% block content %}
  <div class="card rounded-5 card-style">
    <div class="card-body rounded-3">
      <h1 class="card-title welcome-card-title">{{ book.title }}</h1>
      <p class="card-text card-text-style">{{ book.summary }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item card-fact">
          <strong>Author:</strong><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
        </li>
        <li class="list-group-item card-fact">
          <strong>ISBN:</strong> {{ book.isbn }}
        </li>
        <li class="list-group-item card-fact">
          <strong>Language:</strong> {{ book.language }}
        </li>
        <li class="list-group-item card-fact">
          <strong>Genre:</strong> {{ book.genre.all|join:', ' }}
        </li>
        <li class="list-group-item card-fact">
          {% if user.is_staff %}
            <a class="btn update-btn" href="{% url 'book-update' book.id %}">Update</a>
            <a class="btn update-btn"
               data-bs-toggle="modal"
               data-bs-target="#confirmDelete">Delete</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class="copies">
    <h1>Copies</h1>
    {% if book.bookinstance_set.all %}
      <div class="row row-cols-1 row-cols-lg-2 g-4 book-list ">
        {% for copy in book.bookinstance_set.all %}
          <div class="col">
            <div class="card book-list-style card-round-borders">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item card-fact  {% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                    {{ copy.get_status_display }}
                  </li>
                  <li class="list-group-item card-fact">
                    <strong>Due to be returned:</strong>
                    {% if copy.status != 'a' %}
                      {{ copy.due_back }}
                    {% else %}
                      -
                    {% endif %}
                  </li>
                  <li class="list-group-item card-fact">
                    <strong>Imprint:</strong> {{ copy.imprint }}
                  </li>
                  <li class="list-group-item card-fact text-muted">
                    <strong>Id:</strong> {{ copy.id }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h2>There are no copies of this books in the library.</h2>
    {% endif %}
  </div>
  <!-- Confirm Delete Modal -->
  <div class="modal fade"
       id="confirmDelete"
       tabindex="-1"
       aria-labelledby="confirmDeleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-style">
        <div class="modal-header">
          <h1 class="modal-title fs-1" id="confirmDeleteModalLabel">Delete {{ book.title }}?</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Do you wish to permanently delete this book and all copies from the library?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'book-delete' pk=book.pk %}" method="post">
            {% csrf_token %}
            <button class="btn more-btn">Delete book</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
