{% extends "catalog/base_generic.html" %}
{% block title %}
  <title>All Books</title>
{% endblock title %}
{% block content %}
  <h1>Book list</h1>
  {% if user.is_staff %}
    <a href="{% url 'book-create' %}">Add book</a>
  {% endif %}
  {% if book_list %}
    <div class="row row-cols-1 row-cols-lg-2 g-4 book-list ">
      {% for book in book_list %}
        <div class="col">
          <div class="card book-list-style card-round-borders">
            <div class="card-body">
              <h3 class="card-title book-title md-0">{{ book.title }}</h3>
              <h6 class="card-text text-muted">{{ book.bookinstance_set.count }} copies in total.</h6>
              <p class="card-text">{{ book.summary|slice:"150" }} ...</p>
              <a href="{{ book.get_absolute_url }}" class="btn btn-primary more-btn">View More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h2>There are no books in the library.</h2>
  {% endif %}

{% endblock %}
