{% extends 'catalog/base_generic.html' %}
{% block content %}
  <div class="card rounded-5 card-style">
    <div class="card-body rounded-3">
      <h1 class="card-title welcome-card-title">{{ book.title }}</h1>
      <p class="card-text card-text-style">{{ book.summary }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item card-fact">
          <strong>Author: </strong><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
        </li>
        <li class="list-group-item card-fact">
          <strong>ISBN: </strong>{{ book.isbn }}
        </li> 
        <li class="list-group-item card-fact">
          <strong>Language: </strong>{{ book.language }}
        </li>
        <li class="list-group-item card-fact">
          <strong>Genre: </strong>{{ book.genre.all|join:', ' }}
        </li>
        <li class="list-group-item card-fact">
          {% if user.is_staff %}
            <a class="btn update-btn" href="{% url 'book-update' book.id %}">Update</a>
            <a class="btn update-btn" href="{% url 'book-delete' book.id %}">Delete</a>
			    {% endif %}
        </li>
      </ul>
			
    </div>
  </div>

  

{% endblock  %}
