{% extends "catalog/base_generic.html" %}
{% block content %}
  {% load bootstrap5 %}
  <div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x centre-form">
      <h1>Renew: {{ book_instance.book.title }}</h1>
      <h6 class="light-text"><strong>Borrower</strong>: {{ book_instance.borrower }}</h6>
      <p class="{% if book_instance.is_overdue %}text-danger{% endif %}">Due date: {{ book_instance.due_back }}</p>
      <form action='' method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn submit-btn" type='submit' value='Update'/>
      </form>
    </div>
  </div>
{% endblock content %}
